@import url('reset.css');

body {
  background: #335;
  color: #fff;
}

h1 {
  font-size: 28px;
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: center;
}

figure {
  background: #fff;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 2%;
  padding: 10px;
  position: relative;
  vertical-align: top;
  width: 22%;
}

figcaption {
  background: rgba(0, 0, 20, 0.7);
  border-radius: 4px;
  display: none;
  height: 150px;
  padding: 10px;
  width: 300px;
  z-index: 5;
}

img {
  width: 100%;
}